body {
  background-color: #e6e6e6;
  padding: 0%;
  margin: 0;
}


.box-shadow {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

ul {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffffff;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  text-align: center;
  border-bottom: 2px solid black;
  z-index: 2;
}

li {
  display: inline;
}

li a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 1%;
  margin: 0% 1%;
  text-decoration: none;
  font-size: 25px;
}

li a:hover {
  color: #ffaa00;
}

.active {
  color: #ffaa00;
}

* {
  font-family: "Varela Round", sans-serif;
}

.ml10 {
  position: relative;
  font-weight: 900;
  font-size: 2.5em;
}

.ml10 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml10 .letter {
  display: inline-block;
  line-height: 1em;
  transform-origin: 0 0;
}


.ml11 {
  position: relative;
  font-weight: 900;
  font-size: 2.5em;
}

.ml11 .text-wrapper2 {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml11 .letters {
  display: inline-block;
  line-height: 1em;
  transform-origin: 0 0;
}

.ml12 {
  position: relative;
  font-weight: 900;
  font-size: 2.5em;
}

.ml12 .text-wrapper3 {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml12 .let {
  display: inline-block;
  line-height: 1em;
  transform-origin: 0 0;
}
